body {
  color: #2E2520;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1066px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-family: 'Caveat Brush', serif;
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  margin: 0;
  text-decoration: none;
}

.about__img {
  margin-bottom: 16px;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about__img {
    margin: 0;
    height: auto;
  }
}

@media (min-width: 1280px) {
  .about__img {
    margin: 0;
    height: auto;
  }
}

.about__title {
  line-height: 1.25;
  color: #2E2520;
  text-align: center;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .about__title {
    text-align: left;
    margin-bottom: 16px;
    margin-top: 21px;
  }
}

@media (min-width: 1280px) {
  .about__title {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about-picture {
    margin-right: 32px;
    width: calc(100% / 2);
  }
}

@media (min-width: 1280px) {
  .about-picture {
    margin-right: 139px;
    width: calc(100% / 2);
  }
}

.about__text {
  color: #2E2520;
  line-height: 1.21;
  display: block;
  margin-bottom: 16px;
}

.hide-text {
  display: none;
  margin-bottom: 16px;
}

@media (min-width: 1280px) {
  .hide-text {
    display: block;
  }
}

.label {
  display: inline-block;
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27;
  text-align: center;
  color: #AB816C;
}

@media (min-width: 1280px) {
  .label {
    display: none;
  }
}

.input:checked ~ .hide-text {
  display: block;
}

.less {
  display: none;
}

.input:checked ~ .label .more {
  display: none;
}

.input:checked ~ .label .less {
  display: inline;
}

.about-container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .about-container {
    width: 320px;
    padding-left: 20px;
    padding-right: 21px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1280px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 122px;
    padding-right: 125px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .about-box {
    width: calc(100% / 2);
    display: block;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */