
$main-bg-color: #FFFFFF;
$sec-bg-color: #FFFFF9;
$accent-color: #FEF3E4;

$details-color: #AB816C;
$main-icons-color: #2E2520;
$sec-icons-color: #674D40;

$main-text-color: #2E2520;
$sec-text-color: #000000;
$button-text-color: #FFFFFF;

*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  color: $main-text-color;
  background-color: $main-bg-color;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-family: 'Caveat Brush', serif;
  font-size: 24px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  margin: 0;
  text-decoration: none;
}





#more {
  display: none;
}

.about__img{
  margin-bottom: 16px;
}
.about__title {
  line-height: 1.25;
  color: $main-icons-color;
  text-align: center;
  margin-bottom: 8px;
}
.about__text {
  color: $main-text-color;
  line-height: 1.21;
  display: block;
  margin-bottom: 20px;
}
.section__text {
  margin-bottom: 16px;
}

.btn__more {
  font-family: 'Caveat Brush';
  font-size: 18px;
  line-height: 1.27;
  text-align: center;
  color: $details-color;
  border: none;
  background-color: $button-text-color;
  padding: 0;
  margin-bottom: 16px;
}


