$main-bg-color: #FFFFFF;
$sec-bg-color: #FFFFF9;
$accent-color: #FEF3E4;

$details-color: #AB816C;
$main-icons-color: #2E2520;
$sec-icons-color: #674D40;

$main-text-color: #2E2520;
$sec-text-color: #000000;
$button-text-color: #FFFFFF;

@mixin mq($range) {
    $mobile: 320px;
    $tablet: 768px;
    $desktop: 1280px;

    @if $range ==mobile-only {
        @media (max-width: #{$tablet - 0.02}) {
            @content;
        }
    }

    @else if $range ==mobile {
        @media (min-width: $mobile) {
            @content;
        }
    }

    @else if $range ==tablet-only {
        @media (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
            @content;
        }
    }

    @else if $range ==tablet {
        @media (min-width: $tablet) {
            @content;
        }
    }

    @else if $range ==desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }

    @else if $range ==notDesktop {
        @media (max-width: #{$desktop - 0.02}) {
            @content;
        }
    }

    @else if $range ==retina {

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-moz-min-devile-pixel-ratio: 2),
        screen and (-o-min-devile-pixel-ratio: 2/1),
        screen and (-webkit-min-devile-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            @content;
        }
    }
}



@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    color: $main-text-color;
    background-color: $main-bg-color;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.container {
    width: 100%;
    margin: 0 auto;

    @include mq(mobile-only) {
        width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq(tablet-only) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @include mq (desktop) {
        width: 1066px;
        padding-left: 16px;
        padding-right: 16px;
    }
}


.title {
    font-family: 'Caveat Brush', serif;
    font-size: 24px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    margin: 0;
    text-decoration: none;
}