@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
background-color: var(--background-button-color);
color: var(--title-text-color);
border-radius: 4px;
display: inline-block;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
padding: 6px 22px;
border: none;